* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	font-family: "Arial"
}

header {
	height: auto;
	background: #227E7B;
	width: auto;
	margin: 0 auto
}

footer {
	background: #227E7B;
	position:fixed;
	width:100%;
	left:0;
	bottom:0;
	text-align: center;

	font-size: 16px;
	padding-left:50px;
	float: left;
}





.logo {
	float: left;
	height: 60px;
	width: 200px;
	line-height: 60px;
	font-size: 18px;
	text-align: center
}

.logo a {
	text-decoration: none;
}

nav {
	float: left;
	height: 60px;
	width: 600px;
}

ul {
	list-style: none
}

.picture {
	border: 2px;
}	
	
.picture img {
	width: 606px; 
	height: 400px;
	float: center;
}
nav li {
	float: left;
	line-height: 60px;
	height: 60px;
	margin: 0px 10px;
	padding: 0px 10px;
	text-align: center;
	position: relative;
	font-size: 16px
}

nav li a {
	color: #FFF;
	text-decoration: none
}

.banner {
	width: auto;
	margin: 0 auto;
	position: relative
}

.banner img {
	height: auto;
	width: 100%;
}

.snav {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	border: 1px solid #CCC;
	display: none;
	z-index: 999
}

.snav p {
	height: 30px;
	line-height: 30px;
	padding: 0px 6px;
	background: #FFF;
	color: #333
}

nav li:hover .snav {
	display: block
}

.snav p a {
	color: #333!important
}

button.a1 {
	width: 100px;
	height: 28px;
	background: #D6E48C;
	color: #333;
	border-radius: 4px;
	float: right;
	margin: 16px 20px;
	border: none
}

.wel {
	position: absolute;
	left: 0;
	right: 0;
	top: 150px;
	font-size: 36px;
	color: #FFF;
	margin: auto;
	text-align: center;
	font-style: italic;
	font-weight: bold
}

.ser {
	position: absolute;
	background: #D6E48C;
	color: #FFF;
	height: 26px;
	line-height: 26px;
	font-size: 16px;
	width: 120px;
	text-align: center;
	left: 0;
	right: 0;
	top: 220px;
	margin: auto;
	border: 1px solid #CCC;
	border-radius: 4px;
}

.videot {
	position: absolute;
	left: 0;
	right: 0;
	top: 359px;
	font-size: 36px;
	color: #FFF;
	margin: auto;
	text-align: center;
	font-style: italic;
	font-weight: bold
}

.siteVideo {
	position: absolute;
	left: 0;
	right: 0;
	top: 400;
	margin: auto;
	text-align: center;
  display: block;
}


.feedbackform {
  background: #87cefa;
  width:350px;
  height:400px;
  left:35%;
  top:10%;
  line-height: 40px;
  position: absolute;
  border:none;
}

.feedbackform h1 {
  text-align: center;
}

.feedbackform input {
  text-align: center;
  margin: auto;
}

.feedbackform textarea {
  margin: auto;
  width:90%;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

.title {
  padding: 20px 0 12px;
  text-transform: uppercase;
  border-bottom: 2px solid #ccc;
  color: orange;
}

.item {
  margin-bottom: 60px;
}

.item:last-child {
  margin: 0;
}

.item-wrap {
  display: flex;
  justify-content: space-between;
}

.item h2 {
  margin-bottom: 8px;
  color: #5d6065;
}

.table {
  width: 48.5%;
  margin-top: 15px;
}

.item table {
  width: 100%;
  border: 1px solid #000000;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
}

.item .table p {
  word-break: break-word;
}

.table .p {
  margin-top: 20px;
}

.table .p2 {
  margin-top: 20px;
  line-height: 26px;
}

.item table tr:nth-child(2n - 1) {
  background: #eee;
}

.item td {
  width: 50%;
  height: 30px;
  border: 1px solid #ccc;
}

.content {
  width: 48.5%;
  color: #333;
}

.content h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 18px;
}

.content .text-wrapper {
  width: 100%;
  padding-left: 23px;
  box-sizing: border-box;
}

.text-wrapper .text {
  margin-bottom: 12px;
}

.text-wrapper .text:last-child {
  margin: 0;
}

.text-wrapper .text p {
  width: 100%;

  font-size: 16px;
  word-break: break-word;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.sitemap {
	text-align: center;
	text-decoration: none;
}

.sitemap h2 {
	color: #344ceb;
}

.sitemap h3 {
	color: #34ebdc;
}
